---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="flex  bg-white rounded-lg border-2 shadow-lg overflow-hidden hover:border-purple-400 transition-all">
	<a href={href} class="w-full text-slate-900 text-base py-4 px-5 ">
		<h2 class="m-0 text-lg text-slate-700 ">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="mt-1 mb-0 text-base text-slate-600">
			{body}
		</pc>
	</a>
</li>

